extends ../layout

block content
  h1= thread.title
  h2= thread.discription
  - thread.author.forEach(function(author) {
    h2= author.username
  -	})

  .message-list	
    - thread.messages.forEach(function(message) {
      .message
        p !{message.body}
        span.author= message.author
        span.date= (message.dateCreated.toLocaleDateString() + " " + message.dateCreated.toLocaleTimeString())
    - })
  .new-message
    textarea.message-input
    button.send-message Send
